html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, /*strong,*/ sub, sup, tt, var,
/*b,*/ u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 22px;
    font-family:Arial;
    font-size:14px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

  * { Box-sizing: Border-box; }


.wrap {
    width:95%;
    max-width: 960px;
    margin:auto;
    color:#777777;
}

.head {
    position: relative;
    padding: 21px 0;
    height: 152px;
    border-bottom: 1px solid black;
}

.footer {
    padding-top: 23px;
    width: 100%;
    height: 228px;
    border-top: 1px solid black;
}

.content {
  min-height: calc(100vh - 384px);
    overflow: hidden;
    padding-bottom:15px;
    padding-top:15px;

}

.left{
    width: 184px;
    float:left;
    position: relative;
}

#field-7{
    width:184px;
    height:134px;
    /*position: absolute;
    bottom: 0;*/
}



.center {
    overflow: hidden;
    float: left;
    width: calc(100% - 184px);
    display: inline-block;
}

#field-1{
    position:absolute;
    height: 108px;
    width: 122px;
    
}

#field-2{
    position:absolute;
    left: calc(122px + 23px);
    width:279px;
    height: 108px;
}

#field-3{
    position:absolute;
    left: calc(122px + 23px + 279px + 23px);
    width: 513px;
    height: 108px;
}

#field-1,#field-2,#field-3,#field-4,#field-7,#field-10,#field-11,#field-12,#field-13{
    background-color:rgb(119,119,119);
    color: white;
}

#field-5,#field-8,#field-9,.field-6{
    background-color:#dcdcdc;
}

.field-6{
    width: 134px;
    height: 152px;
    
}

#field-5{
    width:calc(100% - 21px);
}

#field-4{
}


#field-5,.field-6,#field-8,#field-9{
    margin: 10px 0 10px 21px;
}

.center-field{
    float: left;
}

#field-8{
    clear:left;
}

#field-8, #field-9{
    min-width: 327px;
    width: calc((100% - 42px)/2);
    min-height: 200px;
}

#field-10,#field-11,#field-12,#field-13{
    margin: 13px 0 13px 26px;
    width: calc((100% - 60px)/3);
    float: left;
    vertical-align:top;
}

#field-10,#field-11{
    /*width:297px;*/
    height: 180px;
    /*padding: 15px;*/
}

#field-10{
    margin-left:0;
}

#field-12,#field-13{
    /*width:297px;*/
    height: 78px;
}

#field-10 ul{
  column-count: 2;
 
}

div.footer-field,div.left-field{
    padding: 15px;
}

.left-field{
    margin-top: 10px;
    margin-bottom:10px;
}

div.head-div, div.center-field{
    padding:20px;
}

#field-10 li{
    width:49%;
}

#field-3{
    text-align:right;
}

div a{
    color:inherit;
}

.center-field ul{
    padding:10px;
}

@media screen and (max-width: 1025px) {
    #field-10, #field-11, #field-12, #field-13 {
         width: calc((100% - 30px)/2);
    }
    #field-12{
        margin-left:0;
    }
    #field-1,#field-2,#field-3{
        position:static;
        float: left;
    }
    .head{
        height:auto;
        overflow:hidden;
    }
    #field-2{
        width:calc(100% - 145px);
        margin-left: 23px;
    }
    #field-3{
        margin-top: 23px;
        width: 100%;
    }
    #field-8, #field-9{
        width: calc(100% - 21px);
        min-height:unset;
    }
}